@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="headhead">فيوتشر زوجة بلوغ</h1>
    <p class="arabPar">هل تعاني من فقدان زوجة؟</p>
    <p class="arabPar">هذا الموقع المثالي لك لتجد زوجتك</p>
    <p class="arabPar">العديد من النساء يبحثون عن زوجهم المثالي</p>
    <p class="arabPar">قم بالتصفح لتجد زوجتك المرادة</p>
</div>