@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p style="font-size:50px; color:crimson;">Here in FutureZawjehBlog™ we absolutely don't value your privacy, your user data will get sold to advertisers eventually.</p>
